div.site-features {
  max-width: 1152px;
}

section.dumi-default-header-left {
  width: 320px;
}

/* div.site-149wa23 {
  grid-template-columns: 240px 1fr 280px;
}

div.site-oihzb6 {
  width: 256px;
} */

div.site-14fkerq {
  z-index: 350;
}
